# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Bot-specific files
bot_invite.txt
bin/ffmpeg/ffmpeg.exe
cookies/
.cookies/
youtube_cookies.txt

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 